html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin-bottom: 60px;
}

.center{
    width: 100vw;
    text-align: center;
}
.bonus {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
.exportSection {
    min-width: 400px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}
.uploadSection {
    min-width: 400px;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}


.form-group {
    margin-bottom: 20px;
}

.inptext{
    font-weight: bold;
}
.form div {
    margin-bottom: 10px;
}

.btn {
    display: block;
    margin-top: 20px;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}
