@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>
        File System
    </h1>
</div>

@model List<Folder>

<div class="content">
    <ul>
        @foreach(var folder in Model)
        {
            <li>
                <a asp-controller="Home" asp-action="Index" asp-route-id="@folder.Id">
                    @folder.Name
                </a>
            </li>
        }
    </ul>
    <div class="bonus">
        <div class="uploadSection">
            <form method="post" enctype="multipart/form-data"  action="/Home/UploadFile" class="form">
                <div class="form-group">
                    <div for="fileInput">Select a file to upload:</div>
                    <input type="file" class="form-control-file" id="fileInput" name="file" accept=".txt">
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>

        <div class="exportSection">

        </div>
    </div>
</div>
